.bg {
    display: flex;
    flex-direction: column;
    padding: 10vh 16vw;
    justify-content: flex-start;
    align-items: center;
    background-color: #00183d;
    height: 100vh;
    overflow-y: scroll;
}

.portal-nav-custom {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.search-container {
    position: relative;
    width: max-content;
    margin-bottom: 20px;
    display: inline-block;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.search-bar {
    min-width: 309px;
    padding-left: 33px;
}