.pf-c-progress-step__icon {
    font-size: 2px;
  }
  
  .pf-c-progress-step__icon.pf-m-success {
    font-size: 1px;
  }
  
  .pf-c-progress-step__icon.pf-m-info {
    font-size: 4px;
  }
  
  .pf-c-progress-step__icon.pf-m-pending {
    font-size: 2px;
  }