@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://use.typekit.net/oes6dvw.css");

/* Global Styles */
.App {
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  color: #151515;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padded {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 10vh 16vw;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

/* Welcome Page Styles */
.welcome-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #151515;
}  

/* Login Page Styles */
.page-login-line {
  width: 122px;
  height: 0px;
  border: 0.7px solid #000000;
}

/* Calendar Styles */

.horizontal-scroll{
  overflow-x: scroll;
  display: flex;
}

.vertical-scroll{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:700px){
  .vertical-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.calendar-card{
  min-width: 220px;
  min-height: 150px;
  width: 15vw;
  height: 10vh;
  border: 1px solid #D2D2D2;
}

/* Portal Styles */
.portal-nav {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #123400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Homepage Styles */
.heading {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #123400;
}

.logo{
  font-family: 'aller-display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #123400;
}

.pinned {
  text-align: left !important;
  font-size: 18px !important;
}

/* Patternfly Variables #205F00; #123400*/
.pf-c-button{
  --pf-global--primary-color--100: #0066CC;
  --pf-global--primary-color--200: #0358ae;
}

.selected-chip-non-clicked {
  --pf-c-icon__content--Color: #0066CC;
}

.selected-chip-non-clicked:hover {
  --pf-global--primary-color-100: grey;
  --pf-global--primary-color--dark-100: grey;
}

.selected-chip-clicked {
  --pf-global--primary-color-100: #0066CC;
  --pf-global--primary-color--dark-100: #0066CC;
  --pf-global--BorderColor--300 : #0066CC;
  --pf-global--BorderColor-100: #0066CC;
  --pf-global--BorderColor--dark-100: #0066CC;
}

.modal-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  position: relative;
  background: white;
  width: 80%;
  height: 60%;
  padding: 1rem;
}

@media (min-width:800px){
.modal-box {
  position: relative;
  background: white;
  width: 50%;
  height: 60%;
  padding: 1rem;
}
}

.modal-wrapper{
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.modal-text{
  margin-top: 20px;
}

.logout-button-div{
  position: "absolute";
  top: 0;
  right: 0;
}

.logout-button{
  background-color: #0066CC;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}