@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://use.typekit.net/oes6dvw.css");

/* Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .btn-yellow {
    @apply px-4 py-2 bg-yellow text-navy font-normal rounded-[3px];
  }
  .btn-red{
    @apply px-4 py-2 bg-red text-white font-normal rounded-[3px];
  }
  .btn-white{
    @apply px-4 py-2 bg-white text-red border border-red font-normal rounded-[3px];
  }
  .btn-rsrc{
    @apply px-4 py-2 bg-navy text-white border border-yellow text-base rounded-[3px] h-14;
  }
  .bg-app{
    @apply bg-navy text-white h-screen py-[7vh] px-[16vw];
  }
  .bg-82{
    @apply bg-navy text-white h-screen py-3 mx-auto max-w-[82%];
  }
}
/* Patternfly tweaks */
.pf-c-button{
  --pf-global--primary-color--100: #e3b81f;
  --pf-global--primary-color--200: #a6881d;
  --pf-global--danger-color--100: #D40000;
  --pf-c-button--m-secondary--BackgroundColor: #fff !important;
  --pf-c-button--m-secondary--m-danger--BackgroundColor: #fff !important;
  padding: 6px 16px !important;
}

.pf-c-form-control{
  background-color: #fff !important;
  padding: 6px 8px !important;
}

.pf-c-alert{
  --pf-c-alert--m-danger__title--Color: #fff;
  > .pf-c-alert__title{
    margin-left: 10px !important;
    font-size: 1rem !important;
  }
}

.pf-c-tooltip{
  --pf-c-tooltip__arrow--Width: 1rem;
  --pf-c-tooltip__arrow--Height: 1rem;
}

.pf-c-tooltip__arrow{
  background-color: #fff !important;
}

.pf-c-text-input-group__text-input{
  background-color: #fff !important;
  padding-block: 6px !important;
  padding-left: 32px !important;
  padding-right: 8px !important;

}

.pf-c-text-input-group__icon{
  z-index: 10 !important;
}

.selected-chip-non-clicked {
  --pf-c-icon__content--Color: #0066CC;
}

.selected-chip-non-clicked:hover {
  --pf-global--primary-color-100: grey;
  --pf-global--primary-color--dark-100: grey;
}

.selected-chip-clicked {
  --pf-global--primary-color-100: #0066CC;
  --pf-global--primary-color--dark-100: #0066CC;
  --pf-global--BorderColor--300 : #0066CC;
  --pf-global--BorderColor-100: #0066CC;
  --pf-global--BorderColor--dark-100: #0066CC;
}

/* custom button used in Resource.tsx */
.pf-c-button.custom-button:hover {
  background-color: red !important;
  color: white !important;
}

/* Global Styles */
body {
  background-color: #00183d !important;
}

.App {
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
  /* background-color: #00183d; */
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padded {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 10vh 16vw
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

._select{
  text-align: left;
}

/* Calendar Styles */

.horizontal-scroll{
  overflow-x: scroll;
  display: flex;
}

@media (min-width:768px) {
  .horizontal-scroll::-webkit-scrollbar {
    height: 10px;
  }
  
  .horizontal-scroll::-webkit-scrollbar-track {
    background: #00183d;
  }
  
  .horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.vertical-scroll{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:700px){
  .vertical-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.calendar-card{
  min-width: 220px;
  min-height: 150px;
  width: 15vw;
  height: 10vh;
  border: 1px solid #D2D2D2;
}

/* Portal Styles */
.portal-nav {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #123400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Homepage Styles */
.heading {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.logo{
  font-family: 'aller-display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #123400;
}

.pinned {
  text-align: left !important;
  font-size: 18px !important;
}

.modal-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  position: relative;
  background: white;
  width: 82%;
  height: 60%;
  padding: 1rem;
}

@media (min-width:800px){
.modal-box {
  position: relative;
  background: white;
  width: 50%;
  height: 60%;
  padding: 1rem;
}
}

.modal-wrapper{
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.modal-text{
  text-align: left;
  margin-top: 20px;
}

.logout-button-div{
  position: "absolute";
  top: 0;
  right: 0;
}

.logout-button{
  background-color: #0066CC;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.welcome_title {
  margin-left: -1rem;
  margin-right: 2.1rem;
  padding: 15px 8vw 15px 2.5rem;
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: left;
  color: #151515;
  background-color: #D9D9D98C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}