@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://use.typekit.net/oes6dvw.css");

/* Patternfly Variables #205F00; #123400*/
.pf-c-button{
  --pf-global--primary-color--100: #e3b81f;
  --pf-global--primary-color--200: #a6881d;
  --pf-global--danger-color--100: #D40000;
  --pf-c-button--m-secondary--BackgroundColor: #fff !important;
  --pf-c-button--m-secondary--m-danger--BackgroundColor: #fff !important;
  padding: 1.5vw 2vh !important;
}

.pf-c-form-control{
  background-color: #fff !important;
  padding: 1.5vw 1vh !important;
}

.pf-c-alert{
  --pf-c-alert--m-danger__title--Color: #fff;
  > .pf-c-alert__title{
    margin-left: 10px !important;
    font-size: 16px !important;
  }
}

.pf-c-tooltip{
  --pf-c-tooltip__arrow--Width: 1rem;
  --pf-c-tooltip__arrow--Height: 1rem;
}

.pf-c-tooltip__arrow{
  background-color: #fff !important;
}

.selected-chip-non-clicked {
  --pf-c-icon__content--Color: #0066CC;
}

.selected-chip-non-clicked:hover {
  --pf-global--primary-color-100: grey;
  --pf-global--primary-color--dark-100: grey;
}

.selected-chip-clicked {
  --pf-global--primary-color-100: #0066CC;
  --pf-global--primary-color--dark-100: #0066CC;
  --pf-global--BorderColor--300 : #0066CC;
  --pf-global--BorderColor-100: #0066CC;
  --pf-global--BorderColor--dark-100: #0066CC;
}

/* Global Styles */
.App {
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-padded {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 10vh 16vw
}

.center-wrapper {
  display: flex;
  justify-content: center;
}


/* Login Page Styles */


/* Calendar Styles */

.horizontal-scroll{
  overflow-x: scroll;
  display: flex;
}

.vertical-scroll{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:700px){
  .vertical-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.calendar-card{
  min-width: 220px;
  min-height: 150px;
  width: 15vw;
  height: 10vh;
  border: 1px solid #D2D2D2;
}

/* Portal Styles */
.portal-nav {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #123400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Homepage Styles */
.heading {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #123400;
}

.logo{
  font-family: 'aller-display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #123400;
}

.pinned {
  text-align: left !important;
  font-size: 18px !important;
}

.modal-overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  position: relative;
  background: white;
  width: 80%;
  height: 60%;
  padding: 1rem;
}

@media (min-width:800px){
.modal-box {
  position: relative;
  background: white;
  width: 50%;
  height: 60%;
  padding: 1rem;
}
}

.modal-wrapper{
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.modal-text{
  margin-top: 20px;
}

.logout-button-div{
  position: "absolute";
  top: 0;
  right: 0;
}

.logout-button{
  background-color: #0066CC;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}